body, button, input, select, textarea {
  font: 14px Arial, Helvetica, sans-serif;
  color: #333;
} 
ul,li{
  margin: 0;
  padding: 0;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clear_both::after{
  content: "";
  display: block;
  clear: both;
}
a{
  text-decoration: none;
  color: #333;
}
a:hover{
  color:#2fb3ff;
}
ul,dl,li,dd{
  list-style: none;
}
i{
  font-style: normal;
}
section{
  width: 1240px;
  margin: 0 auto;
}
/* 顶部导航 */
.house_path>a+a::before{
  content: ">";
  padding: 0px 5px;
  color: #333;
}
/* 主要内容 */
.main_part{
  width: 840px;
}
/* 大图片轮播开始 */
/* 大图片div */
.h_pic_lg{
  width: 735px;
  height: 490px;
  position: relative;
}
.lg_item img{
  width: 100%;
}
.lg_item:not(:first-child){
  display: none;
} 
.arrow_prev,.arrow_next{
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  background: #fff;
  opacity: 0;
}
.arrow_prev{
  top:0;
  cursor: url(../../imgs/houseimg/mouseup.cur),auto;
}
.arrow_next{
  top:50%;
  cursor: url(../../imgs/houseimg/mousedown.cur),auto;
}
/* 大图片轮播结束 */
/* 小图轮播开始 */
.h_pic_sm{
  width: 100px;
  height: 490px;
  overflow: hidden;
  position: relative;
}
.h_pic_sm img{
  width: 100%;
}
.sm_prev,.sm_next{
  position: absolute;
  left: 0px;
  height: 30px;
  width: 100%;
  background:rgba(0, 0, 0, .5);
  text-align: center;
  line-height: 30px;
}
.h_pic_sm>a{
  color: #eee;
}
.sm_prev{
  top: 0px
}
.sm_next{
  bottom: 0px;
}
.pic_cure{
  border: 2px solid #2fb3ff;
  height: 62.7px;
  width: 96px;
  position: absolute;
  cursor: pointer;
}
.pic_layer{
  height: 64.7px;
  width: 100px;
  position: absolute;
  cursor: pointer;
  background: rgba(0, 0, 0, .1)
}
/* 小图轮播结束 */